.become-sponsor {
  font-size: 0.9em;
  font-weight: 700;
  width: auto;
  text-align: center;
  background-color: transparent;
  padding: 0.75em 2em;
  border-radius: 2em;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 2px solid var(--vp-c-brand-dark);
}

.become-sponsor:hover {
  background-color: var(--vp-c-brand);
  text-decoration: none;
  border-color: var(--vp-c-brand);
  color: var(--vp-button-brand-text);
}

.sponsors-top .become-sponsor {
  font-size: 0.75em;
  padding: 0.2em;
  width: auto;
  max-width: 150px;
}
